body {
    background-color: grey;
    font-size: 36px;
}

#container {
    background-image: linear-gradient(rgb(255, 94, 0), rgb(243, 193, 54));
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 500px;
    text-align: center;
    margin: 10% 20%;
    border: 5px double black;
    border-radius: 20px;
    padding: 10px;
}

#display {
    grid-column: 1 / 5;
    background-color: aqua;
    border-radius: 10px;
    border: 2px solid black; 
    padding-top: 40px;
    height: 80px;
    margin: 10px 5px;
}

button {
    background-image: linear-gradient(rgb(248, 159, 26), rgb(255, 102, 0));
    border-radius: 5px;
    padding: 15px;
    font-size: 24px;
    height: 80px;
    text-align: center;
    margin: 2px;
}

#clear{
    grid-column: 1 / span 2;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(197, 24, 24));
    color: aliceblue;
}

#operate{
    grid-column: 3 / span 2;
    background-image: linear-gradient(rgb(0, 54, 230), rgba(28, 0, 184, 0.973));
    color: aliceblue;
}