body {
    background-color: grey;
    font-size: 36px;
}

#container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 500px;
    text-align: center;
    background-color: rgb(243, 193, 54);
    margin: 10% 20%;
    border: 5px double black;
    border-radius: 20px;
    padding: 10px;
}

#display {
    grid-column: 1 / 5;
    background-color: aqua;
    border-radius: 10px;
    border: 1px solid black; 
    padding-top: 40px;
    height: 80px;
    margin: 10px 5px;
}

button {
    background-color: rgb(212, 241, 241);
    border-radius: 5px;
    padding: 15px;
    font-size: 24px;
    height: 80px;
    text-align: center;
    margin: 2px;
}

#clear{
    grid-column: 1 / span 2;
}

#operate{
    grid-column: 3 / span 2;
}